*{margin:0; padding: 0; box-sizing: border-box;}

body{background-color: #fff;}
a{display: inline; color: #fff; text-decoration: none;}
a:hover{text-decoration: none;}
hr{border-color: white; opacity: 0.5;}
h1{font-family: "Montserrat", sans-serif;}
a, h2, h3, h4, p, li {font-family: "Selawik Light", sans-serif; color:#000;}

