*{margin:0; padding: 0; box-sizing: border-box;}

body{background: black;}
.top-bar topbar-responsive top-bar-wrappe{padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1em;
    background-color: #212121;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  position: relative;}

a{display: inline; color: #fff; text-decoration: none;}
a:hover{text-decoration: none;}

